---
interface Props {
	name: string;
	imgSrc: string;
	description: string;
	link: string;
}
const { description, imgSrc, link, name } = Astro.props;
---

<article class="rounded-2xl shadow-2xl relative group">
	<img
		src={imgSrc}
		alt={name}
		class="min-w-full rounded-2xl object-cover shadow-2xl h-[300px]"
		loading="lazy"
	/>
	<div
		class="absolute top-0 left-0 right-0 bottom-0 hidden group-hover:flex flex-col justify-center items-center bg-gray-900 bg-opacity-70 rounded-2xl transition-all duration-300 ease-in-out p-4"
	>
		<h1 class="text-white text-2xl font-semibold tracking-wide text-center">
			{name}
		</h1>
		<p class="text-gray-300 text-center text-sm">{description}</p>
		<div class="flex justify-evenly pt-3">
			<a
				target="_blank"
				href={link}
				class="bg-gray-800 text-white py-3 px-4 rounded-full text-center cursor-pointer hover:bg-gray-900 active:scale-95 transition-all"
			>
				<i class="fa fa-link"></i>
			</a>
		</div>
	</div>
</article>
